WebContent/wsdl/sample01.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sample.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sample.com" xmlns:intf="http://sample.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sample.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="display">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="displayResponse">
    <complexType>
     <sequence>
      <element name="displayReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="displayRequest">

      <wsdl:part element="impl:display" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="displayResponse">

      <wsdl:part element="impl:displayResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="sample01">

      <wsdl:operation name="display">

         <wsdl:input message="impl:displayRequest" name="displayRequest">

       </wsdl:input>

         <wsdl:output message="impl:displayResponse" name="displayResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="sample01SoapBinding" type="impl:sample01">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="display">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="displayRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="displayResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="sample01Service">

      <wsdl:port binding="impl:sample01SoapBinding" name="sample01">

         <wsdlsoap:address location="http://localhost:8219/sample/services/sample01"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
